export JAVA_HOME="${java_home}"
export HADOOP_HOME="/opt/hadoop"
export HADOOP_CONF_DIR="${hadoop_conf}"
export YARN_LOG_DIR="/var/log/cosmos-hadoop"
export YARN_PID_DIR="/run/cosmos-hadoop"
export YARN_RESOURCEMANAGER_HEAPSIZE="1024"
export YARN_NODEMANAGER_HEAPSIZE="768"
